@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;

    /* font-size: 1em; */
  }
  .hdr {
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    margin: 0%;
    padding: 8px 14px;
    position: relative;
    /* overflow: hidden; */
    /* display: block; */
  }

  .hdr-logo {
    font-size: 1.5em;
    /* margin-bottom: 1em; */
  }

  .mail-svg {
    display: none;
  }

  .hero {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    font-size: 60%;
    padding: 4em 3px;
  }
  .heros {
    /* font-size: 16px; */

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    padding: 3em;
    margin: 1em;
  }
  .profile-img {
    width: 10rem;
    border: 2px;
  }
  .hero1 {
    font-size: 1.6em;
    text-align: left;
  }
  .hero2 {
    /* size: 45em; */
    font-size: 3.6em;
    width: 100%;
    color: #608dff;
  }
  .change-content {
    /* display: flex; */
    /* flex-wrap: wrap; */
    font-size: inherit;
    color: inherit;
  }

  .hire-me {
    padding: 0.5em;
    font-size: 1.4em;
    /* border: 2px solid gray; */
    border-radius: 0%;
  }
  .forhiding {
    display: none;
  }

 
  .menu{
    display: block;
    /* position: relative; */
  }
  .hdr #dropdown {
    display: none;
  }

  .hdr a{
    /* padding: 14px 16px; */
    text-decoration: none;
    /* color: black; */
    /* background-color: burlywood; */
    display: block;
  }
  .hdr .menu .menu-white{
    /* background-color: black; */
    display: block;
    position: absolute;
    top:  8px;
    right: 14px;
  }


}
